In [ ]:
Problem statement - percentage calculator

In [22]:
a= int(input("enter the mark out of 100 obtained in subject -1"))
b= int(input("enter the mark out of 100 obtained in subject -2"))
c= int(input("enter the mark out of 100 obtained in subject -3"))
d= int(input("enter the mark out of 100 obtained in subject -4"))
e= int(input("enter the mark out of 100 obtained in subject -5"))
f= int(input("enter the mark out of 100 obtained in subject -6"))
z= a+b+c+d+e+f
print("total marks obtained", z)
k= z/6
print("average marks obtained", k)
x= z/600*100
print("percentage obtained",x)

enter the mark out of 100 obtained in subject -1 89
enter the mark out of 100 obtained in subject -2 98
enter the mark out of 100 obtained in subject -3 97
enter the mark out of 100 obtained in subject -4 87
enter the mark out of 100 obtained in subject -5 78
enter the mark out of 100 obtained in subject -6 67

total marks obtained 516
average marks obtained 86.0
percentage obtained 86.0

In [ ]:
Problem statement - score card

In [5]:
l = [[554,"umesh"],[530,"rohan"],[320,"rajat"],[590,"atish"]]

In [6]:

l

[[554, 'umesh'], [530, 'rohan'], [320, 'rajat'], [590, 'atish']]

In [8]:
l.sort()

In [9]:

l

[[320, 'rajat'], [530, 'rohan'], [554, 'umesh'], [590, 'atish']]

In [10]:
l.reverse()

In [12]:
l

[[590, 'atish'], [554, 'umesh'], [530, 'rohan'], [320, 'rajat']]

In [25]:
print("student with higest marks is", l[0])
print("and the second with highest marks is",l[1])

student with higest marks is [590, 'atish']
and the second with highest marks is [554, 'umesh']