In [3]:
import pandas as pd

In [ ]:
Problem Statement : Creating pandas series

In [7]:
Countries= ["India","Austrila","Japan","China","SouthAfrica"]
Codes= ["IND","AUS","JAP","CH","SA"]
ds= pd.Series(Countries,index=Codes)
print("the series is:")
print(ds)
print("the lenght pf series is:",len(ds))
print("the shape of series is:",ds.shape)
print("the size of series is:",ds.size)

the series is:
IND          India
AUS       Austrila
JAP          Japan
CH           China
SA     SouthAfrica
dtype: object
the lenght pf series is: 5
the shape of series is: (5,)
the size of series is: 5

In [ ]:
Problem statement : Creating Pandas DataFrame

In [13]:
n = int(input("enter the numbers of students records we want to store"))
name=[]
age=[]
roll_no=[]
for i in range(n):
    a =input("enter the name of the student")
    b =input("enter the age of the student")
    c = input("enter the roll no. of the student")
    name.append(a)
    age.append(b)
    roll_no.append(c)

d={
    "Name":name,
    "Age":age,
    "Roll No.":roll_no}

df=pd.DataFrame(d)
print("The DataFrame is") 
display(df)

enter the numbers of students records we want to store 2
enter the name of the student Karan
enter the age of the student 23
enter the roll no. of the student 34
enter the name of the student Veer
enter the age of the student 21
enter the roll no. of the student 16

The DataFrame is

    Name Age Roll No.
0  Karan  23       34
1   Veer  21       16