In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("HRDataset_v14.csv")
display(df.head())

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [3]:
grouped_df =  df.groupby(['Department'])
print((grouped_df).first())

                                 Employee_Name  EmpID  MarriedID  \
Department
Admin Offices                Boutwell, Bonalyn  10081          1
Executive Office                   King, Janet  10089          1
IT/IS                 Ait Sidi, Karthikeyan     10084          1
Production                 Adinolfi, Wilson  K  10026          0
Sales                         Bunbury, Jessica  10188          1
Software Engineering           Andreola, Colby  10194          0

                      MaritalStatusID  GenderID  EmpStatusID  DeptID  \
Department
Admin Offices                       1         0            1       1
Executive Office                    1         0            1       2
IT/IS                               1         1            5       3
Production                          0         1            1       5
Sales                               1         0            5       6
Software Engineering                0         0            1       4

                      PerfScoreID  FromDiversityJobFairID  Salary  ...  \
Department                                                         ...
Admin Offices                   3                       1  106367  ...
Executive Office                3                       0  250000  ...
IT/IS                           3                       0  104437  ...
Production                      4                       0   62506  ...
Sales                           3                       0   74326  ...
Software Engineering            3                       0   95660  ...

                             ManagerName  ManagerID   RecruitmentSource  \
Department
Admin Offices         Brandon R. LeBlanc        3.0  Diversity Job Fair
Executive Office      Board of Directors        9.0              Indeed
IT/IS                         Simon Roup        4.0              Indeed
Production                Michael Albert       22.0            LinkedIn
Sales                         John Smith       17.0       Google Search
Software Engineering     Alex Sweetwater       10.0            LinkedIn

                     PerformanceScore  EngagementSurvey EmpSatisfaction  \
Department
Admin Offices             Fully Meets              5.00               4
Executive Office          Fully Meets              4.83               3
IT/IS                     Fully Meets              4.96               3
Production                    Exceeds              4.60               5
Sales                     Fully Meets              3.14               5
Software Engineering      Fully Meets              3.04               3

                     SpecialProjectsCount LastPerformanceReview_Date  \
Department
Admin Offices                           3                  2/18/2019
Executive Office                        0                  1/17/2019
IT/IS                                   6                  2/24/2016
Production                              0                  1/17/2019
Sales                                   0                  2/10/2013
Software Engineering                    4                   1/2/2019

                     DaysLateLast30 Absences
Department
Admin Offices                     0        4
Executive Office                  0       10
IT/IS                             0       17
Production                        0        1
Sales                             1       19
Software Engineering              0       19

[6 rows x 35 columns]

In [4]:
dept_Salary_df =  df.groupby(['Department'],as_index=False).Salary.mean()
display(dept_Salary_df)

             Department         Salary
0         Admin Offices   71791.888889
1      Executive Office  250000.000000
2                 IT/IS   97064.640000
3     Production          59953.545455
4                 Sales   69061.258065
5  Software Engineering   94989.454545

In [5]:
print("This department has highest number of employees")
display(df['Department'].mode())

This department has highest number of employees

0    Production
Name: Department, dtype: object

In [6]:
print("Department-wise Variance of salary:______")
dept_Salary_df['Salary'].var()

Department-wise Variance of salary:______

np.float64(5116833840.207844)

In [9]:
from scipy.stats import iqr
print("Interquartile range of salary:______")
iqr(dept_Salary_df['Salary'])

Interquartile range of salary:______

np.float64(26801.927865754304)

In [12]:
from scipy.stats import zscore
zscores = zscore(dept_Salary_df['Salary'])
print("Department-wise z-score of salaries:____________ ")
display(zscores)

Department-wise z-score of salaries:____________

0   -0.541376
1    2.187712
2   -0.154348
3   -0.722669
4   -0.583193
5   -0.186127
Name: Salary, dtype: float64

In [14]:
ptl = np.percentile(df["Salary"], 65)
print("65th percentile of Salary column is:")
print(ptl)

65th percentile of Salary column is:
65988.0

In [15]:
x = np.quantile([20, 40], df["GenderID"])
print("Quartile values of 20, 40 from GenderID column:")
print(x)

Quartile values of 20, 40 from GenderID column:
[40 40 20 20 20 20 20 40 20 40 20 40 40 40 40 40 20 20 20 40 40 20 20 20
 20 40 20 40 20 20 40 20 20 20 40 40 40 20 40 20 20 20 40 20 40 40 20 20
 40 20 40 40 40 40 40 40 20 40 20 40 20 20 20 40 40 40 20 40 20 40 40 40
 20 20 20 20 40 20 20 20 20 40 40 20 40 20 20 20 20 20 40 40 20 40 20 40
 40 20 40 20 40 20 20 20 20 40 20 20 20 40 20 40 40 20 20 40 20 20 40 20
 40 40 20 40 20 20 40 20 40 20 20 20 20 20 20 20 20 40 20 20 20 20 20 40
 20 20 20 20 40 40 20 20 20 40 40 40 40 40 20 40 40 40 20 20 40 40 40 20
 20 40 20 20 20 20 20 40 20 20 20 20 20 20 20 20 40 20 20 40 40 40 40 20
 40 20 20 40 40 40 40 40 40 20 20 20 20 20 20 20 40 40 40 20 40 40 40 20
 20 20 20 20 20 40 40 20 20 40 20 40 20 40 40 40 20 20 40 40 20 40 20 20
 20 20 40 40 40 20 20 40 40 40 20 20 20 20 40 20 20 40 40 20 20 20 40 20
 20 20 20 40 40 40 20 20 40 20 40 40 20 20 20 20 40 20 40 20 40 40 20 40
 20 40 40 40 40 20 20 40 20 20 40 20 40 40 20 20 40 20 40 20 20 20 20]